@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary-fill {
      @apply text-[15px] text-[#fff] bg-primary px-[20px] py-[15px] uppercase rounded-[40px] font-medium;
    }
}

body {
    font-family: var(--font-inter);
}

h1 {
    font-family: var(--font-raleway);
    font-weight: 900;
    font-size: 3.052rem;
    /* font-size: 5.653rem; */
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.441rem;
    font-weight: 800;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

.small {
    font-size: 0.8rem;
}

.caption {
    font-size: 0.64rem;
}

@media (min-width: 1024px) {
    /* h1 {font-size: 11.089rem;} */
      
    h1 {font-size: 6.854rem;}
      
    h2 {font-size: 4.236rem;}
      
    h3 {font-size: 2.618rem;}
      
    h4 {font-size: 1.618rem;}
}

.slick-dots li {
    margin: 0 1px !important;
    width: 30px;
    height: 30px;
}

.slick-dots li button {
    padding: 0;
}